<template>
    <section class="presentation-content">
            <div class="presentation-photo">
                <figure class="big-profile-image"> <!-- class="gradiant-bloc" -->
                    <!--
                    <svg id="bg-bubble" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1025.2 931.3" style="opacity: 1; visibility: inherit; /* transform: translate(-683px, -406.25px); */"><path id="bg-circle" d="M527.03 768.39 C743.28 756.67 910.1 607.66 908.29 410.23 905.43 197.01 716.1 59.5 486.18 59.5 256.26 59.5 66.22 198.35 66.22 409.57 66.22 506.45 165.73 542.48 227.13 604.79 308.84 692 386.41 780.12 527.03 768.39 " data-original="M493.6 766.8c230 0 415.6-143.5 415.6-351.1S724.2 64.5 494.3 64.5 77.9 208.1 77.9 415.7c0 83.5 101 114.6 152 177 75.8 92.8 126.1 174.1 263.7 174.1z"></path></svg>
                    -->
                    <img src="../../public/assets/images/profileImage.png" alt="">
                </figure>
            </div>
            <div class="content">
                <h2>Stagiaire <strong>développeur de services web et mobiles</strong> chez frog <span id="entreprise-name-extension">part of Capegemini invent</span></h2>
                <p>
                    Étudiant en <strong>Master 2 Génie Logiciel</strong>, je commence mon stage de fin d'études en janvier 2022 à Montpellier. Durant ces 6 mois de stage, je serai accueilli par <strong>frog</strong>, une filiale internationale de Capgemini.
                </p>
     
                <ul class="social-network">
                    <li class="icon1"><a href="https://www.linkedin.com/in/antoinebarbier022/" target="_blank" title="Linkedin : antoinebarbier022">
                        <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin" class="svg-inline--fa fa-linkedin fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="white" d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"></path></svg>
                    </a></li>
                    <li class="icon2"><a href="https://www.instagram.com/antoineb_dev/" target="_blank" title="Instagram : @antoineb_dev">
                        <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="instagram" class="svg-inline--fa fa-instagram fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="white" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path></svg>
                    </a></li>
                    <li class="icon3"><a href="https://dribbble.com/An_toine" target="_blank" title="Dribbble : An_toine">
                        <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="dribbble" class="svg-inline--fa fa-dribbble fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="white" d="M256 8C119.252 8 8 119.252 8 256s111.252 248 248 248 248-111.252 248-248S392.748 8 256 8zm163.97 114.366c29.503 36.046 47.369 81.957 47.835 131.955-6.984-1.477-77.018-15.682-147.502-6.818-5.752-14.041-11.181-26.393-18.617-41.614 78.321-31.977 113.818-77.482 118.284-83.523zM396.421 97.87c-3.81 5.427-35.697 48.286-111.021 76.519-34.712-63.776-73.185-116.168-79.04-124.008 67.176-16.193 137.966 1.27 190.061 47.489zm-230.48-33.25c5.585 7.659 43.438 60.116 78.537 122.509-99.087 26.313-186.36 25.934-195.834 25.809C62.38 147.205 106.678 92.573 165.941 64.62zM44.17 256.323c0-2.166.043-4.322.108-6.473 9.268.19 111.92 1.513 217.706-30.146 6.064 11.868 11.857 23.915 17.174 35.949-76.599 21.575-146.194 83.527-180.531 142.306C64.794 360.405 44.17 310.73 44.17 256.323zm81.807 167.113c22.127-45.233 82.178-103.622 167.579-132.756 29.74 77.283 42.039 142.053 45.189 160.638-68.112 29.013-150.015 21.053-212.768-27.882zm248.38 8.489c-2.171-12.886-13.446-74.897-41.152-151.033 66.38-10.626 124.7 6.768 131.947 9.055-9.442 58.941-43.273 109.844-90.795 141.978z"></path></svg>
                    </a></li>
                    <li class="icon4"><a href="https://github.com/antoinebarbier022" target="_blank" title="Github">
                        <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="git" class="svg-inline--fa fa-git fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="white" d="M216.29 158.39H137C97 147.9 6.51 150.63 6.51 233.18c0 30.09 15 51.23 35 61-25.1 23-37 33.85-37 49.21 0 11 4.47 21.14 17.89 26.81C8.13 383.61 0 393.35 0 411.65c0 32.11 28.05 50.82 101.63 50.82 70.75 0 111.79-26.42 111.79-73.18 0-58.66-45.16-56.5-151.63-63l13.43-21.55c27.27 7.58 118.7 10 118.7-67.89 0-18.7-7.73-31.71-15-41.07l37.41-2.84zm-63.42 241.9c0 32.06-104.89 32.1-104.89 2.43 0-8.14 5.27-15 10.57-21.54 77.71 5.3 94.32 3.37 94.32 19.11zm-50.81-134.58c-52.8 0-50.46-71.16 1.2-71.16 49.54 0 50.82 71.16-1.2 71.16zm133.3 100.51v-32.1c26.75-3.66 27.24-2 27.24-11V203.61c0-8.5-2.05-7.38-27.24-16.26l4.47-32.92H324v168.71c0 6.51.4 7.32 6.51 8.14l20.73 2.84v32.1zm52.45-244.31c-23.17 0-36.59-13.43-36.59-36.61s13.42-35.77 36.59-35.77c23.58 0 37 12.62 37 35.77s-13.42 36.61-37 36.61zM512 350.46c-17.49 8.53-43.1 16.26-66.28 16.26-48.38 0-66.67-19.5-66.67-65.46V194.75c0-5.42 1.05-4.06-31.71-4.06V154.5c35.78-4.07 50-22 54.47-66.27h38.63c0 65.83-1.34 61.81 3.26 61.81H501v40.65h-60.56v97.15c0 6.92-4.92 51.41 60.57 26.84z"></path></svg>
                    </a></li>
                </ul>
                <span class="separator"></span>
            
                <h3>Mes Projets </h3>
            </div>

        
    </section>



</template>

<script>
    export default {
        name: 'SectionPresentation'
    }
</script>

<style>

span#entreprise-name-extension {
    display:none;
font-size: 0.9rem;
font-weight: lighter;
}

    h2 > strong{
        color: var(--secondary-color);
    }

    p > strong{
        color: var(--main-text-color);
        font-weight: 500;
    }


    span > strong{
        color: var(--main-text-color);
        font-weight: 400;
    }

    .separator{
        display: block;
        width: 150px;
        height: 10px;
        padding-bottom: 100px;
        border-top: 1px solid rgba(255, 255, 255, 0.144);
    }

    .presentation-content{
        position: relative;
    }

    .presentation-content .content{
        width:60%;
    }

    .content p{
        text-align: justify;
    }


.presentation-photo{
    position: absolute;
        bottom: 0;
        left:50%;
        right:0;
        
        
        
    width: calc((100vw - 840px) / 2 + 840px - 420px);
    height: 45vw;
    max-height: 500px;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.presentation-photo img{
    position: absolute;
        right:0px;
        bottom: 0px;
        height: 100%;
    height:120%;
    z-index: -1;
}



@media (max-width: 840px) {

    .presentation-photo{
        display:none;
    }
   .presentation-content .content {
    width: 100%;
    margin:auto;
    }
}


    ul.social-network{
        display: flex;
        padding-top: 20px;
        padding-bottom: 30px;
        padding-left:0;
    }
    ul.social-network li{
        margin-right: 27px;
        list-style: none;
        width: 27px;
        height: 27px;
    }

</style>
